language: python

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "pypy"

script:
    - nosetests -s

after_success:
    - pip install coveralls
    - coverage run --source=flask_oauthlib setup.py -q nosetests
    - coveralls

branches:
  only:
    - master

notifications:
    email: false
